In [2]:
from requests import Session
import pandas as pd
import time
import hmac

import configparser  
config = configparser.ConfigParser() 
config.read("C:/Users/tomas/Dropbox/Prop-Trading Business/ftx.cfg") 
ftx_api_url   	= "https://ftx.com/api"


from requests import Request

In [8]:
import ccxt
import json

# api and secret
apiKey = config["ftx"]['ftx_api_url']           
secret = config["ftx"]['api_secret']         
subaccount = ''                                    

# Exchange Detail
exchange = ccxt.ftx({
    'apiKey' : apiKey ,'secret' : secret ,'enableRateLimit': True
})

# Sub Account Check

if subaccount == "0":
  print("This is Main Account")
else:
  exchange.headers = {
   'FTX-SUBACCOUNT': subaccount,
  }

In [9]:
# Global Variable Setting
pair = 'BTC-PERP'
tf = '5m'

In [10]:
def priceHistdata():
  
  try:
    priceData = pd.DataFrame(exchange.fetch_ohlcv(pair,tf))
  except ccxt.NetworkError as e:
    print(exchange.id, 'fetch_ohlcv failed due to a network error:', str(e))
    priceData = pd.DataFrame(exchange.fetch_ohlcv(pair,tf))
  except ccxt.ExchangeError as e:  
    print(exchange.id, 'fetch_ohlcv failed due to exchange error:', str(e))
    priceData = pd.DataFrame(exchange.fetch_ohlcv(pair,tf))
  except Exception as e:
    print(exchange.id, 'fetch_ohlcv failed with:', str(e))
    priceData = pd.DataFrame(exchange.fetch_ohlcv(pair,tf))

  return priceData

def getPrice():

  try:
    r1 = json.dumps(exchange.fetch_ticker(pair))
    dataPrice = json.loads(r1)
    #print(exchange)
    #print(pair + '=',dataPrice['last'])
  except ccxt.NetworkError as e:
    r1 = json.dumps(exchange.fetch_ticker(pair))
    dataPrice = json.loads(r1)
  except ccxt.ExchangeError as e:
    r1 = json.dumps(exchange.fetch_ticker(pair))
    dataPrice = json.loads(r1)
  except Exception as e:
    r1 = json.dumps(exchange.fetch_ticker(pair))
    dataPrice = json.loads(r1)
  
  return (dataPrice['last'])

In [11]:
data = priceHistdata()

In [12]:
data

                  0        1        2        3        4             5
0     1635490500000  61380.0  61447.0  61364.0  61398.0  6.513470e+06
1     1635490800000  61398.0  61398.0  61131.0  61142.0  1.677365e+07
2     1635491100000  61142.0  61238.0  61142.0  61187.0  1.522537e+07
3     1635491400000  61187.0  61207.0  60759.0  60833.0  3.420351e+07
4     1635491700000  60833.0  60928.0  60716.0  60775.0  2.914930e+07
...             ...      ...      ...      ...      ...           ...
1496  1635939300000  63129.0  63269.0  63128.0  63259.0  8.087909e+06
1497  1635939600000  63259.0  63259.0  63209.0  63212.0  3.219758e+06
1498  1635939900000  63212.0  63254.0  63178.0  63206.0  4.492632e+06
1499  1635940200000  63206.0  63247.0  63203.0  63225.0  4.346553e+06
1500  1635940500000  63225.0  63238.0  63205.0  63234.0  1.933503e+06

[1501 rows x 6 columns]